name: Go Code Review & Build Check

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Install dependencies
        run: go mod tidy

      # Lint tekshiruvi (ID berdik)
      - name: Run Linter
        id: lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest

      - name: Create dummy .env
        run: cp .env.example .env || touch .env

      # Docker build tekshiruvi (ID berdik)
      - name: Build Docker Image
        id: docker
        run: docker compose build